#top{
  background-color: rgba(138,115,80);
  align-items: center;
  padding-bottom: 15px;
  font-size: 14px;
}

#mid{
  background-color: rgba(24,24,24);
  padding-bottom: 15px;
  align-items: center;
  font-size: 14px;
}

#bot{
  background-color: rgba(76,105,87);
  align-items: center;
  padding-bottom: 25px;
}

#under1{
  text-decoration-line: underline;
}
#under2{
  text-decoration-line: underline;
}

#rightText{
  position: relative;
  height: 500px;
}

body{
  color: white;
}